* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #F5F9FF;
  font-size: 1.6rem;
  min-height: 100dvh;
  display: flex;
  overflow-y: hidden;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  padding: 1em 2em;
  background-color: #007FFF;
  color: white;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: #2A52BE;
}

.highlighted, .highlighted--hover {
  color: #007FFF;
  font-weight: bold;
  transition: color 0.3s;
}

.highlighted--hover {
  cursor: pointer;
}
.highlighted--hover:hover {
  color: #2A52BE;
}

.section-title {
  font-size: 4rem;
}

.under-title {
  margin: 1em 0;
  font-size: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.task-priority {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 8px;
  font-weight: 600;
}
.task-priority::first-letter {
  text-transform: uppercase;
}

.low {
  background-color: #CCF1E2;
  border: 1px solid #A3D6C4;
}

.medium {
  background-color: #F3D5AD;
  border: 1px solid #E5BB83;
}

.high {
  background-color: #F8D7CF;
  border: 1px solid #E9B5AA;
}

body.dark-mode .low {
  background-color: #3d6652;
  border: 1px solid #5fa284;
}

body.dark-mode .medium {
  background-color: #8c6239;
  border: 1px solid #b07d43;
}

body.dark-mode .high {
  background-color: #7a3b35;
  border: 1px solid #a85c55;
}

.sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  z-index: 1;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul > li:first-child {
  display: flex;
  margin-bottom: 1em;
}
.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2.4rem;
}
.sidebar .logo img {
  border-radius: 50%;
  width: 40px;
  margin-right: 5px;
}
.sidebar ul li.active {
  color: #007FFF;
}
.sidebar .sidebar-item {
  font-size: 2rem;
  margin: 1em 0;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar .sidebar-item i {
  margin-right: 5px;
}
.sidebar .sidebar-item:hover {
  color: #007FFF;
}
.sidebar .logged-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.sidebar .logged-controls div {
  border-radius: 50%;
  width: 50px;
  padding: 5px;
  border: 1px solid #11121a;
}
.sidebar .logged-controls div img {
  width: 100%;
  height: 100%;
}
.sidebar .logged-controls .logged-name {
  font-size: 1.8rem;
  font-weight: 500;
}
.sidebar .logged-controls .settings-btn {
  font-size: 2rem;
  padding: 0.3em;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s;
}
.sidebar .logged-controls .settings-btn:hover {
  color: #007FFF;
}

.profile-sm {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.profile-sm .img-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-sm .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.profile-sm p {
  font-size: 1.8rem;
  margin-left: 10px;
  font-weight: 500;
}

.new-tasks-section, .in-progress-tasks-section, .done-tasks-section {
  display: none;
  max-height: 100dvh;
}

.panel-container {
  padding: min(30px, 7%);
  min-height: 10dvh;
  width: 100%;
  overflow-y: auto;
}
.panel-container .add-task-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #007FFF;
  border-radius: 50%;
  font-size: 4rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.panel-container .add-task-btn:hover {
  background-color: #2A52BE;
}
.panel-container .home-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel-container .home-section img {
  max-width: 100%;
}
.panel-container .new-tasks-section .section-title, .panel-container .new-tasks-section .under-title, .panel-container .in-progress-tasks-section .section-title, .panel-container .in-progress-tasks-section .under-title, .panel-container .done-tasks-section .section-title, .panel-container .done-tasks-section .under-title {
  text-align: center;
}
.panel-container .new-tasks-section .input-box, .panel-container .in-progress-tasks-section .input-box, .panel-container .done-tasks-section .input-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.panel-container .new-tasks-section .input-box input, .panel-container .in-progress-tasks-section .input-box input, .panel-container .done-tasks-section .input-box input {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5em;
  padding-right: 30px;
}
.panel-container .new-tasks-section .input-box input::-moz-placeholder, .panel-container .in-progress-tasks-section .input-box input::-moz-placeholder, .panel-container .done-tasks-section .input-box input::-moz-placeholder {
  color: #5A6B87;
}
.panel-container .new-tasks-section .input-box input::placeholder, .panel-container .in-progress-tasks-section .input-box input::placeholder, .panel-container .done-tasks-section .input-box input::placeholder {
  color: #5A6B87;
}
.panel-container .new-tasks-section .input-box input:focus, .panel-container .in-progress-tasks-section .input-box input:focus, .panel-container .done-tasks-section .input-box input:focus {
  outline: none;
  border: 2px solid #007FFF;
}
.panel-container .new-tasks-section .input-box i, .panel-container .in-progress-tasks-section .input-box i, .panel-container .done-tasks-section .input-box i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: #007FFF;
}
.panel-container .new-tasks-section .input-box .search-error, .panel-container .in-progress-tasks-section .input-box .search-error, .panel-container .done-tasks-section .input-box .search-error {
  visibility: hidden;
  text-align: center;
  margin-top: 10px;
  color: #2A52BE;
}
.panel-container .new-tasks-section .new-task-container, .panel-container .in-progress-tasks-section .new-task-container, .panel-container .done-tasks-section .new-task-container {
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
  height: 60%;
}
.panel-container .new-tasks-section .new-task-container .new-task, .panel-container .in-progress-tasks-section .new-task-container .new-task, .panel-container .done-tasks-section .new-task-container .new-task {
  display: grid;
  grid-template-columns: auto repeat(5, 1fr) auto;
  padding: 1em;
  width: 100%;
  min-width: 90%;
  max-width: 1400px;
  margin: 1em 0;
  background-color: rgba(0, 127, 255, 0.1);
  border-radius: 20px;
}
.panel-container .new-tasks-section .new-task-container .new-task:last-child, .panel-container .in-progress-tasks-section .new-task-container .new-task:last-child, .panel-container .done-tasks-section .new-task-container .new-task:last-child {
  margin-bottom: 3em;
}
.panel-container .new-tasks-section .new-task-container .new-task div:nth-child(6) span, .panel-container .in-progress-tasks-section .new-task-container .new-task div:nth-child(6) span, .panel-container .done-tasks-section .new-task-container .new-task div:nth-child(6) span {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}
.panel-container .new-tasks-section .new-task-container .new-task div, .panel-container .in-progress-tasks-section .new-task-container .new-task div, .panel-container .done-tasks-section .new-task-container .new-task div {
  padding: 5px;
}
.panel-container .new-tasks-section .new-task-container .new-task div span:first-child, .panel-container .in-progress-tasks-section .new-task-container .new-task div span:first-child, .panel-container .done-tasks-section .new-task-container .new-task div span:first-child {
  font-weight: bold;
  color: #2A52BE;
}
.panel-container .new-tasks-section .new-task-container .new-task div:last-child i, .panel-container .in-progress-tasks-section .new-task-container .new-task div:last-child i, .panel-container .done-tasks-section .new-task-container .new-task div:last-child i {
  display: block;
  margin-bottom: 1em;
  font-size: 2rem;
  transition: color 0.3s;
  cursor: pointer;
}
.panel-container .new-tasks-section .new-task-container .new-task div:last-child i:last-child, .panel-container .in-progress-tasks-section .new-task-container .new-task div:last-child i:last-child, .panel-container .done-tasks-section .new-task-container .new-task div:last-child i:last-child {
  margin-bottom: 0;
}
.panel-container .new-tasks-section .new-task-container .new-task div:last-child i:hover, .panel-container .in-progress-tasks-section .new-task-container .new-task div:last-child i:hover, .panel-container .done-tasks-section .new-task-container .new-task div:last-child i:hover {
  color: #007FFF;
}
.panel-container .new-tasks-section .new-task-container .new-task .task-id, .panel-container .in-progress-tasks-section .new-task-container .new-task .task-id, .panel-container .done-tasks-section .new-task-container .new-task .task-id {
  font-size: 3rem;
  color: #2A52BE;
}

.popup-shadow {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 5;
}
.popup-shadow.fade {
  animation: fade 0.5s;
}
.popup-shadow.show {
  animation: show 0.5s;
}

.add-task-popup, .edit-box, .move-popup, .profile-popup, .edit-profile-popup, .settings-popup {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  height: 600px;
  background-color: #F5F9FF;
  border-radius: 1em;
  padding: 1em;
  z-index: 10;
}
.add-task-popup.fade, .edit-box.fade, .move-popup.fade, .profile-popup.fade, .edit-profile-popup.fade, .settings-popup.fade {
  animation: fade 0.5s;
}
.add-task-popup.show, .edit-box.show, .move-popup.show, .profile-popup.show, .edit-profile-popup.show, .settings-popup.show {
  animation: show 0.5s;
}
.add-task-popup .close-popup, .edit-box .close-popup, .move-popup .close-popup, .profile-popup .close-popup, .edit-profile-popup .close-popup, .settings-popup .close-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FF6884;
  color: white;
  cursor: pointer;
}
.add-task-popup .popup-box, .edit-box .popup-box, .move-popup .popup-box, .profile-popup .popup-box, .edit-profile-popup .popup-box, .settings-popup .popup-box {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}
.add-task-popup .popup-box label, .edit-box .popup-box label, .move-popup .popup-box label, .profile-popup .popup-box label, .edit-profile-popup .popup-box label, .settings-popup .popup-box label {
  font-weight: 500;
  margin-bottom: 5px;
}
.add-task-popup .popup-box input, .add-task-popup .popup-box option, .add-task-popup .popup-box select, .edit-box .popup-box input, .edit-box .popup-box option, .edit-box .popup-box select, .move-popup .popup-box input, .move-popup .popup-box option, .move-popup .popup-box select, .profile-popup .popup-box input, .profile-popup .popup-box option, .profile-popup .popup-box select, .edit-profile-popup .popup-box input, .edit-profile-popup .popup-box option, .edit-profile-popup .popup-box select, .settings-popup .popup-box input, .settings-popup .popup-box option, .settings-popup .popup-box select {
  font-size: 1.6rem;
}
.add-task-popup .popup-box input, .edit-box .popup-box input, .move-popup .popup-box input, .profile-popup .popup-box input, .edit-profile-popup .popup-box input, .settings-popup .popup-box input {
  padding: 5px;
}
.add-task-popup .profile-btns button, .edit-box .profile-btns button, .move-popup .profile-btns button, .profile-popup .profile-btns button, .edit-profile-popup .profile-btns button, .settings-popup .profile-btns button {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-top: 5em;
}
.add-task-popup .popup-error, .edit-box .popup-error, .move-popup .popup-error, .profile-popup .popup-error, .edit-profile-popup .popup-error, .settings-popup .popup-error {
  text-align: center;
  margin-top: 10px;
  color: #FF6884;
  font-weight: 500;
  visibility: hidden;
}

.popup-add {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
}

.move-popup {
  height: 270px;
}
.move-popup .move-to-btn {
  margin-top: 5em;
}

.edit-box {
  display: none;
}

.profile-popup {
  height: auto;
  max-height: 95dvh;
  max-width: 1400px;
  display: none;
  overflow-y: auto;
}
.profile-popup .profile-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.profile-popup .profile-header {
  margin-top: 2em;
  height: 50vw;
  max-height: 330px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  background-image: url("../img/background-869599_1280.png");
  background-position: center;
  background-repeat: no-repeat;
}
.profile-popup .profile-header .profile-picture {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
}
.profile-popup .profile-header .profile-picture .pfp {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.profile-popup .profile-header p {
  position: absolute;
  left: 50%;
  top: 133%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: 500;
}
.profile-popup .profile-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  gap: 2em;
}
.profile-popup .profile-footer .profile-stats {
  margin-top: 6em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.profile-popup .profile-footer .profile-stats .profile-stat {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile-popup .profile-footer .profile-stats .profile-stat i {
  font-size: 2rem;
}
.profile-popup .profile-footer .profile-stats .profile-stat span:first-of-type {
  font-size: 2.6rem;
  margin: 5px 0;
}
.profile-popup .profile-footer .profile-stats .profile-stat span:nth-of-type(2) {
  color: #5A6B87;
}
.profile-popup .profile-footer .profile-btns {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-popup .profile-footer .profile-btns button {
  margin: 5px 0;
  width: 100%;
}
.profile-popup .profile-footer .profile-btns button:first-of-type {
  background-color: #007FFF;
  color: white;
  font-weight: 600;
  transition: 0.3s color, 0.3s background-color;
}
.profile-popup .profile-footer .profile-btns button:first-of-type:hover {
  background-color: #2A52BE;
}
.profile-popup .profile-footer .profile-btns button:nth-of-type(2) {
  background-color: #FF6884;
  color: white;
  font-weight: 600;
  transition: 0.3s color, 0.3s background-color;
}
.profile-popup .profile-footer .profile-btns button:nth-of-type(2):hover {
  background-color: #d1556c;
}
.profile-popup .profile-footer .profile-info p {
  margin-top: 5px;
  margin-bottom: 15px;
  color: #5A6B87;
}
.profile-popup .profile-footer .profile-info .profile-info-box {
  margin-bottom: 10px;
}
.profile-popup .profile-footer .profile-info .profile-info-box i {
  margin-right: 5px;
  font-size: 2rem;
}
.profile-popup .profile-shadow {
  display: none;
  height: 180%;
}

.edit-profile-popup {
  display: none;
  width: 80%;
  max-height: 95%;
  overflow: auto;
  height: auto;
  padding: 1em;
}
.edit-profile-popup .error-msg {
  margin-top: 10px;
  color: #FF6884;
  font-weight: 500;
  visibility: hidden;
}
.edit-profile-popup .headline {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.8rem;
}
.edit-profile-popup .avatar-box label, .edit-profile-popup .background-box label {
  margin-bottom: 5px;
}
.edit-profile-popup .edit-profile-box {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.edit-profile-popup .edit-profile-box textarea, .edit-profile-popup .edit-profile-box input {
  padding: 5px;
  font-size: 1.6rem;
}
.edit-profile-popup .edit-profile-box textarea {
  max-width: 100%;
  height: 100px;
  max-height: 100px;
  resize: none;
}
.edit-profile-popup .edit-profile-save-btn {
  width: 100%;
}

.settings-popup {
  display: none;
  height: auto;
}
.settings-popup h2 {
  margin-bottom: 1em;
}
.settings-popup .settings-box {
  display: flex;
  margin-bottom: 1em;
}
.settings-popup .settings-box .delete-acc-box, .settings-popup .settings-box .username-box, .settings-popup .settings-box .password-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007FFF;
  padding: 5px;
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
}
.settings-popup .settings-box .delete-acc-box i, .settings-popup .settings-box .username-box i, .settings-popup .settings-box .password-box i {
  color: white;
}
.settings-popup .settings-box .theme-box {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}
.settings-popup .settings-box .theme-box input {
  opacity: 0;
  width: 0;
  height: 0;
}
.settings-popup .settings-box .theme-box .theme-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 5px;
  background-color: #ccc;
  border-radius: 26px;
  transition: 0.3s;
  cursor: pointer;
}
.settings-popup .settings-box .theme-box .theme-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
.settings-popup .settings-box .theme-box input:checked + .theme-slider {
  background-color: #007FFF;
}
.settings-popup .settings-box .theme-box input:checked + .theme-slider:before {
  transform: translateX(19px);
}

.settings-popups {
  position: absolute;
  display: none;
  flex-direction: column;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  padding: 1em;
  background-color: white;
  z-index: 10;
}
.settings-popups .close-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FF6884;
  color: white;
  cursor: pointer;
}
.settings-popups label:first-of-type {
  margin-top: 1em;
}
.settings-popups input {
  margin: 0.5em 0;
  padding: 5px;
}
.settings-popups .settings-err {
  text-align: center;
  margin: 0.5em 0;
  color: #FF6884;
  visibility: hidden;
}
.settings-popups .confirm-btn {
  margin-top: 1em;
}
.settings-popups .btn {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

.delete-acc-popup {
  bottom: 0;
}

@media (min-width: 450px) {
  .profile-popup .profile-header p {
    top: 123%;
  }
}
@media (max-width: 950px) {
  body {
    flex-direction: column;
  }
  .sidebar {
    position: fixed;
    height: 60px;
    width: 100vw;
    left: 0;
    right: 0;
    border-right: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    top: unset;
    bottom: 0;
    flex-direction: row;
    background-color: #F5F9FF;
  }
  .sidebar ul {
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .sidebar ul > li:first-child {
    display: none;
  }
  .sidebar .sidebar-item {
    display: flex;
    font-size: 1.6rem;
    margin: 0 1em;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
    text-wrap: nowrap;
  }
  .sidebar .sidebar-item:hover {
    color: #007FFF;
  }
  .sidebar .logged {
    display: none;
  }
  .panel-container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }
  .panel-container .add-task-btn {
    bottom: 2em;
  }
  .panel-container .home-section {
    margin-top: 5em;
  }
  .section {
    margin-top: 4em;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 760px) {
  .panel-container .new-tasks-section .new-task-container, .panel-container .in-progress-tasks-section .new-task-container, .panel-container .done-tasks-section .new-task-container {
    justify-content: start;
  }
  .panel-container .new-tasks-section .new-task-container .new-task, .panel-container .in-progress-tasks-section .new-task-container .new-task, .panel-container .done-tasks-section .new-task-container .new-task {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .panel-container .new-tasks-section .new-task-container .new-task div:last-child, .panel-container .in-progress-tasks-section .new-task-container .new-task div:last-child, .panel-container .done-tasks-section .new-task-container .new-task div:last-child {
    margin-top: 2em;
    text-align: right;
  }
  .panel-container .new-tasks-section .new-task-container .new-task div:last-child i, .panel-container .in-progress-tasks-section .new-task-container .new-task div:last-child i, .panel-container .done-tasks-section .new-task-container .new-task div:last-child i {
    display: inline-block;
    margin-right: 1em;
  }
}
@media (max-width: 500px) {
  .panel-container .add-task-btn {
    width: 60px;
    height: 60px;
    font-size: 3rem;
    bottom: 2.5em;
    right: 0.5em;
  }
  .panel-container .home-section h2 {
    font-size: 4rem;
  }
  .panel-container .home-section h2 + p {
    margin: 1em 0;
    font-size: 1.6rem;
  }
}
@media (min-width: 1100px) {
  .profile-popup .profile-footer {
    justify-content: space-between;
    flex-direction: row;
  }
  .profile-popup .profile-footer .profile-stats {
    margin: 0;
    justify-content: start;
  }
  .profile-popup .profile-footer .profile-stats .profile-stat {
    margin: 0 2em;
  }
}
@media (min-width: 800px) {
  .profile-popup .profile-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .profile-popup .profile-footer .profile-stats {
    grid-column: 1/2;
    margin-top: 2em;
  }
  .profile-popup .profile-footer .profile-btns {
    grid-column: 3/4;
    margin-top: 2em;
  }
}
@media (max-height: 1000px) {
  .settings-popup.popup-active {
    top: 30%;
  }
}
.dark-mode {
  background-color: #1B1C1D;
  color: white;
}

@media (min-width: 1600px) {
  .profile-sm {
    top: 20px;
    right: 50px;
  }
}/*# sourceMappingURL=style.css.map */