
// Main Colors
$white: white;
$primary: #007FFF;
$primary-dark: #2A52BE;
$gradient-mid: #1E6BE3;

// Backgrounds
$background: #F5F9FF;

// Font
$text: #1F2D3D;
$text-muted: #5A6B87;

// UI Elements
$border: #BFD8FF;
$hover: #339DFF;
$active: #005FCC;
$red: #FF6884;

// To Dark Mode

$dark-mode: #1B1C1D;

$black: #11121a;
$line-clr: #42434a;
$hover-clr: #222533;